@charset "utf-8";

.search-body-title {
    margin-top: 64px;
    height: 64px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    box-sizing: border-box;
    padding-top: 24px;
    margin-bottom: 32px;
}

.search-body {
    border-top: 1px solid #ccc;
    display: flex;
}

.search-body-left {
    width: 259px;
    box-sizing: border-box;
}


.search-left-category {
    padding: 24px 0;
}

.search-left-category h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.el-checkbox__inner {
    margin-right: 15px;
}

.search-left-category.search-left-category-fixed {
    position: fixed;
    top: 64px;
}

.search-body-right {
    width: 901px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    /*height: 800px;*/
    padding: 24px 0 60px 36px;

}

.search-body-right > h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.search-right-items {
    display: flex;
    flex-wrap: wrap;
}


.search-right-items > li {
    width: 274px;
    height: 299px;
    /*background-color: #ccc;*/
    margin-right: 21px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
}

.search-right-items > li:nth-of-type(3n) {
    margin-right: 0;
}

.search-right-items > li:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}

.search-right-items a {
    color: #333;
}
.search-pagination{
    margin: 20px 0;
}















