<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./css/lipis/css/flag-icon.min.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/comment.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
<div id="app">
    <!--header-->
    <header class="banner-fixed">
        <div class="header-logo">
            <a href="/">客路</a>
        </div>
        <div class="header-search">
            <input type="text" placeholder="搜索全球目的地 / 活动">
            <i class="fa fa-search"></i>
        </div>
        <div class="header-right">
            <ul class="header-menu">
                <li>
                    <a href="#">
                    <span class="flag-icon flag-icon-cn">
                    </span>
                        <i class="fa fa-angle-down "></i>
                    </a>
                    <div class="country-items">
                        <ul>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-AU">
                                    <i class="flag-icon flag-icon-au"></i>
                                    <span>English (Australia)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-ca"></i>
                                    <span>English (Canada)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-hk"></i>
                                    <span>English (Hong Kong)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-in"></i>
                                    <span>English (India)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-my"></i>
                                    <span>English (Malaysia)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-nz"></i>
                                    <span>English (New Zealand)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-ph"></i>
                                    <span>English (Philippines)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-si"></i>
                                    <span>English (Singapore)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-us"></i>
                                    <span>English (US)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-uk"></i>
                                    <span>English (UK)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-it"></i>
                                    <span>English (International)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-cn"></i>
                                    <span>简体中文</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-hk"></i>
                                    <span>繁體中文 (香港)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-tw"></i>
                                    <span>繁體中文 (台灣)</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-jp"></i>
                                    <span>日本語</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-kr"></i>
                                    <span>한국어</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-th"></i>
                                    <span>ไทย</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-vn"></i>
                                    <span>Tiếng Việt</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="t12 j_lang_val" data-value="en-CA">
                                    <i class="flag-icon flag-icon-id"></i>
                                    <span>Bahasa Indonesia</span>
                                </a>
                            </li>
                        </ul>
                        <span>选择语言</span>
                    </div>
                </li>
                <li>
                    <a href="#">CNY
                        <i class="fa fa-angle-down "></i>
                    </a>
                    <div class="head-moneys">
                        <div class="moneys-t">
                            <ul class="money-items">
                                <li><a href="#"><span class="gray">CNY</span>人民币</a></li>
                                <li><a href="#"><span class="gray">HKD</span> 港币</a></li>
                                <li><a href="#"><span class="gray">MYR</span> 林吉特</a></li>
                                <li><a href="#"><span class="gray">TWD</span> 台币</a></li>
                                <li><a href="#"><span class="gray">SGD</span> 新币</a></li>
                                <li><a href="#"><span class="gray">USD</span> 美元</a></li>
                                <li><a href="#"><span class="gray">KRW</span> 韩元</a></li>
                            </ul>
                            <span>推荐使用货币</span>
                        </div>
                        <div class="moneys-b">
                            <ul class="money-items">
                                <li><a href="#"><span class="gray">AED</span> 阿联酋迪拉姆</a></li>
                                <li><a href="#"><span class="gray">AUD</span> 澳元</a></li>
                                <li><a href="#"><span class="gray">CAD</span> 加拿大元</a></li>
                                <li><a href="#"><span class="gray">CHF</span> 瑞士法郎</a></li>
                                <li><a href="#"><span class="gray">DKK</span> 丹麦克朗</a></li>
                                <li><a href="#"><span class="gray">EGP</span> 埃及镑</a></li>
                                <li><a href="#"><span class="gray">EUR</span> 欧元</a></li>
                                <li><a href="#"><span class="gray">FJD</span> 斐济元</a></li>
                                <li><a href="#"><span class="gray">GBP</span> 英镑</a></li>
                                <li><a href="#"><span class="gray">IDR</span> 印尼盾</a></li>
                                <li><a href="#"><span class="gray">INR</span> 印度卢比</a></li>
                                <li><a href="#"><span class="gray">ISK</span> 冰岛克朗</a></li>
                                <li><a href="#"><span class="gray">JOD</span> 约旦第纳尔</a></li>
                                <li><a href="#"><span class="gray">JPY</span> 日元</a></li>
                                <li><a href="#"><span class="gray">KHR</span> 瑞尔</a></li>
                                <li><a href="#"><span class="gray">LAK</span> 老挝基普</a></li>
                                <li><a href="#"><span class="gray">LBP</span> 黎巴嫩镑</a></li>
                                <li><a href="#"><span class="gray">MAD</span> 摩洛哥迪拉姆</a></li>
                                <li><a href="#" class="moneys-b-t"><span class="gray">MGA</span> 马达加斯加阿里亚里</a></li>
                                <li><a href="#"><span class="gray">MMK</span> 缅元</a></li>
                                <li><a href="#"><span class="gray">MOP</span> 澳门元</a></li>
                                <li><a href="#"><span class="gray">MUR</span> 毛里求斯卢比</a></li>
                                <li><a href="#"><span class="gray">MXN</span> 墨西哥比索</a></li>
                                <li><a href="#"><span class="gray">NOK</span> 挪威克朗</a></li>
                                <li><a href="#"><span class="gray">NZD</span> 新西兰元</a></li>
                                <li><a href="#"><span class="gray">OMR</span> 阿曼里亚尔</a></li>
                                <li><a href="#"><span class="gray">PHP</span> 菲律宾比索</a></li>
                                <li><a href="#"><span class="gray">QAR</span> 卡塔尔里亚尔</a></li>
                                <li><a href="#"><span class="gray">RUB</span> 俄罗斯卢布</a></li>
                                <li><a href="#"><span class="gray">SEK</span> 瑞典克朗</a></li>
                                <li><a href="#"><span class="gray">THB</span> 泰铢</a></li>
                                <li><a href="#"><span class="gray">TRY</span> 新土耳其里拉</a></li>
                                <li><a href="#"><span class="gray">VND</span> 越南盾</a></li>
                                <li><a href="#"><span class="gray">ZAR</span> 南非兰特</a></li>
                            </ul>
                            <span>其他货币</span>
                        </div>

                    </div>
                </li>
                <li><a href="#">APP下载</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">最近浏览<i class="fa fa-angle-down "></i></a>
                    <div class="head-history">
                        <ul>
                            <li><a href="#">
                                <img src="./images/his1.jpg" alt="">
                                <div>
                                    <h3>越南下龙湾一日游</h3>
                                    <p><span>★ 4.4</span> (1,622条评价)|22K 人参加过</p>
                                    <p>¥ 304</p>
                                    <p>¥ 247<i class="fa fa-flash"></i></p>
                                    <p>最早可預訂日期：今日</p>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <img src="./images/his1.jpg" alt="">
                                <div>
                                    <h3>越南下龙湾一日游</h3>
                                    <p><span>★ 4.4</span> (1,622条评价)|22K 人参加过</p>
                                    <p>¥ 304</p>
                                    <p>¥ 247<i class="fa fa-flash"></i></p>
                                    <p>最早可預訂日期：今日</p>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <img src="./images/his1.jpg" alt="">
                                <div>
                                    <h3>越南下龙湾一日游</h3>
                                    <p><span>★ 4.4</span> (1,622条评价)|22K 人参加过</p>
                                    <p>¥ 304</p>
                                    <p>¥ 247<i class="fa fa-flash"></i></p>
                                    <p>最早可預訂日期：今日</p>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <img src="./images/his1.jpg" alt="">
                                <div>
                                    <h3>越南下龙湾一日游</h3>
                                    <p><span>★ 4.4</span> (1,622条评价)|22K 人参加过</p>
                                    <p>¥ 304</p>
                                    <p>¥ 247<i class="fa fa-flash"></i></p>
                                    <p>最早可預訂日期：今日</p>
                                </div>
                            </a></li>
                        </ul>

                    </div>
                    <i class="history-arrow"></i>
                </li>
                <li><a href="#">
                    <em class="fa fa-shopping-cart"></em>
                </a></li>
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>
        </div>
    </header>
    <div class="login-form">
        <h2>登录</h2>
        <div class="login-form-nav">
            <span :class="{'active':usernav=='email'}" @click="usernav='email'"><i
                    class="fa fa-envelope-o"></i>邮箱地址</span>
            <span :class="{'active':usernav=='phone'}" @click="usernav='phone'"> <i class="fa fa-phone"></i>手机号码</span>
        </div>
        <div class="login-form-table">
            <input type="email" placeholder="邮箱地址" name="email" v-show="usernav=='email'">
            <input type="text" placeholder="手机号码" name="email" v-show="usernav=='phone'">
            <div class="password-close" v-show="passnav=='psdClosed'">
                <input type="password" placeholder="密码" v-model="password">
                <i class="fa fa-eye" @click="passnav='psdOpen'"></i>
            </div>
            <div class="password-open" v-show="passnav=='psdOpen'">
                <input type="text" placeholder="密码" v-model="password">
                <i class="fa fa-eye-slash" @click="passnav='psdClosed'"></i>
            </div>
            <p class="login-from-rember">
               <span>
                   <input type="checkbox">记住账户
               </span>
                <span><a href="#">忘记密码？</a></span>
            </p>
            <button>登录</button>
            <div class="login-fast">
                <span>或快速登录</span>
                <div class="login-fast-change">
                    <a href="#">
                        <em class="fa fa-facebook-square"></em>
                        <h4>Facebook</h4>
                    </a>

                    <a href="#">
                        <em class="fa fa-wechat"></em>
                        <h4>微信</h4>
                    </a>
                </div>

            </div>


        </div>
        <div class='login-register'>
            <span>还没有账号？现在注册！</span>
            <a href="#">注册</a>
        </div>

    </div>
</div>
<script src="./js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            usernav: 'phone',
            passnav: 'psdClosed',
            password: '',

        },
        methods: {}

    })
</script>
</body>
</html>